body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f5f5f5;
    text-align: center;
  }

 h2 {
  color: black;
  border-radius: 80px;
  padding: 20px;
  width: 850px;
  }

section {
    padding: 14px 20px;
    margin-bottom: 10px;
    background-color: #20f3f321;
    color: #0c0c0c;
    text-decoration: none;
    display: block;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: relative;
    padding-left: 60px;
}

.menu-item:hover {
    background-color: #f8f8f8;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    transform: translateX(8px);
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #3949b1;
    height: 10vh;
    border-radius: 10px;
}

.menu button{
    height:8vh;
    width:15vw;
    border-radius: 5px;
    border: 3px solid #ffffff;
    font-size: 15px;
}

.ativo{
    background-color: #FFF;
    color: #3949b1;
}

.desativo{
    background-color: transparent;
    color: #FFF;
}

.menu button:hover{
    background-color: #FFF;
    color: #3949b1;
}
