body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 30px;
    color: #333;
}

input, select{
    padding: 0;
    width: 20vw;
    height: 6vh;
    border-radius: 10px;
    border: 1px solid #808080;
    margin: 5px 0;
}

.forms section button {
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 5px 0 10px 0;
  background-color: #4CAF50;
  color: #FFF;
}

.forms section button:hover{
    background-color: #b4b4b4;
}


/*section {
    padding: 14px 20px;
    margin-bottom: 15px;
    color: #0c0c0c;
    text-decoration: none;
    display: block;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: relative;
    padding-left: 60px;
    text-align: center;
}*/

section{
    padding: 5%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #06575770;
    border-radius: 15px;
    text-align: center;
}


.menu-item:hover {
    background-color: #f8f8f8;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    transform: translateX(8px);
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: #0f2424e3;
    height: 12vh;
    border-radius: 6px;
}

.menu button{
    height:8vh;
    width:15vw;
    border-radius: 5px;
    border: 3px solid #ffffff;
    font-size: 15px;
}

.ativo{
    background-color: #FFF;
    color: #000000;
}

.desativo{
    background-color: transparent;
    color: #fdfdfd;
}

.menu .desativo:hover{
    background-color: #FFF;
    color: #000000;
    cursor: pointer;
}



#lista-categorias, #lista-livros, #form-livro, #form-categoria {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  margin: 20px auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#lista-categorias h2, #lista-livros h2 {
  margin-top: 0;
  color: #333;
  font-size: 1.5em;
  text-align: center;
}

#categorias-cadastradas p, #livros-cadastrados p {
  background-color: #ffffff;
  padding: 12px 16px;
  margin: 8px 0;
  border-left: 5px solid #4CAF50;
  border-radius: 4px;
  color: #444;
  transition: background-color 0.3s;
}

#categorias-cadastradas p:hover,  #livros-cadastrados p:hover{
  background-color: #f0f0f0;
  cursor: pointer;
}